{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Üzenetek:</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>E-mail</th>
                <th>Üzenet</th>
                <th>Tevékenység</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">Megtekint</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Szerkeszt</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">nincs megjeleníthető tartalom</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}">Új létrehozása</a>
{% endblock %}
